{% extends 'base.html' %}

{% block head %}
<title>ToDoAPP - tasks</title>
{% endblock %}

{% block body %}
<div class="content">
    <h5 class="text-white bg-secondary">ToDo アプリケーション</h5>

    {% if tasks|length == 0 %}
    <h4>タスク一覧</h4>
    <p>現在登録されているタスクはありません。</p>
    
    {% else %}
    <h4>タスク一覧</h4>
    <table class="table">
        <tr>
            <th>タスク</th>
            <th>登録日時</th>
            <th>完了</th>
            <th>アクション</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ task.completed }}</td>
            <td>
                <a class="btn btn-success" href="/api/tasks/{{task.id}}/complete">完了</a>
                <a class="btn btn-danger" href="/api/tasks/{{task.id}}/delete">削除</a>
                <a class="btn btn-info" href="/api/tasks/{{task.id}}/update">編集</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/api/tasks" method="post">
        <input type="text" name="content" id="content" class="form-control" placeholder="例）お買い物に行く">
        <input type="submit" value="新規登録" class="btn btn-primary">
    </form>

</div>
{% endblock %}