{% extends 'base.html' %}

{% block head %}
<title>ToDoAPP - update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h5 class="text-white bg-secondary">ToDo アプリケーション</h5>
    <h4>タスクの編集</h4>

    <form action="/api/tasks/{{task.id}}/update" method="post">
        <input type="text" name="content" id="content" value="{{task.content}}" class="form-control" placeholder="例）お買い物に行く"> 
        <input type="submit" value="編集する" class="btn btn-info">
    </form>

</div>
{% endblock %}